*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.logPage{
   background-color: #fff;
   padding:30px;
   border-radius:8px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   width: 300px;

}
.in{
    widhth:100%;
    padding:10px;
    margin:8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.in:focus{
    border-color: #4a90e2;
    outline: none;  
    box-shadow: 0 0 5px rgba(74,144,226,0.5); 
}
label{
    font-size: 14px;
    font-weight:bold;
    display:block;
    margin-top:10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;          
  font-weight: bold;
}
button:hover {
  background-color: #357ab8;
}
p {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
p a {
  color: #4a90e2;         
  text-decoration: none;   
  font-weight: bold;       
}
p a:hover{
    text-decoration: underline;
}
@media (max-width: 480px) {
  .logPage {
    width: 90%;        
    padding: 20px;     
  }

  h1 {
    font-size: 20px;   
  }

  .in {
    font-size: 14px;   
  }

  button {
    font-size: 14px;   
    padding: 8px;
  }
}
